<a href="https://colab.research.google.com/github/Lin777/PythonAndOtherTools/blob/master/IntroductionToPython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction to Python

## What is Python?

Python is an interpreted, object-oriented, high-level programming language with dynamic semantics. Python's simple, easy to learn syntax emphasizes readability and therefore reduces the cost of program maintenance. It's portable and it's popular :D 

Like any other programming language, we need to have some understanding of the syntax of Python to be able to program in it. So let's look at some of the basic building blocks.

## Variables

Variables store data in a computer memory. A variable can have a short name (like x,y,z), but a more descriptive name (firstname, lastname, age, country) is highly recommended. 

Python Variable Name Rules

- A variable name must start with a letter or the underscore character
- A variable name cannot start with a number
- A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
- Variable names are case-sensitive (firstname, Firstname, FirstName and FIRSTNAME are different variables)

When we assign a certain data type to a variable, it is called variable declaration. For instance in the example below my first name is assigned to a variable first_name. The equal sign is an assignment operator. Assigning means storing data in the variable.

Example:

In [ ]:
# Variables in Python

first_name = 'Evelyn'
last_name = 'Cusi'
country = 'Bolivia <3'
city = 'Cochabamba'
age = 25
is_married = False # =D

## Data Types

There are several data types in python. To identify the data type we use the type builtin function.

### Numbers

Number data types in python:

1. Integers: Integer(negative, zero and positive) numbers Example: ... -3, -2, -1, 0, 1, 2, 3 ...
2. Floating Point Numbers(Decimal numbers) Example: ... -3.5, -2.25, -1.0, 0.0, 1.1, 2.2, 3.5 ...
3. Complex Numbers Example: 1 + j, 2 + 4j, 1 - 1j

In [ ]:
# Example

integer_number = 3 # integer
float_number = 3.5 # float
complex_number = 1j #complex

#### Operators

Python language supports several types of operators. In this section, we will focus on few of them.

In [ ]:
# Example

2 + 4 - 1         # Addtion and substraction

5

In [ ]:
4 * 3 / 2.0       # Multiplication and division

6.0

In [ ]:
5 / 2             # Note that integer division returns float

2.5

In [ ]:
5 // 2            # But the operator // does an integer divide

2

In [ ]:
5 % 2             # Remainder for integer division

1

In [ ]:
2 ** 3            # Power operator (also pow(2, 3) works)

8

#### Conversions and casts

Casting: Converting one data type to another data type. We use int(), float(), str().

Example

In [ ]:
float_number = 3.5
int(float_number)        # Cast the float result into an integer

3

In [ ]:
integer_number = 8
float(integer_number)    # Cast an int into a float

8.0

### Strings

Text is a string data type. Any data type written as text is a string. Any data under single or double quote are strings.

In [ ]:
# Example

text = "Hi, I hope you are enjoying this summary of Python" # We also can use simple quote
print(text)     # With this function we print all text

Hi, I hope you are enjoying this summary of Python

In [ ]:
len(text)       # len() function let us know the length of a string, in this case of TEXT

50

Multiline string is created by using triple single (''') or double quotes ("""). See the example below.

In [ ]:
multiline_string = '''I am a teacher and enjoy teaching.
I didn't find anything as rewarding as empowering people.
That is why I created 30 days of python.'''
print(multiline_string)

I am a teacher and enjoy teaching.
I didn't find anything as rewarding as empowering people.
That is why I created 30 days of python.

**String concatenation**: We can connect strings together. Merging or connecting strings is called concatenation. See the example below:

In [1]:
first_name = 'Evelyn'
last_name = 'Cusi'
space = ' '
full_name = first_name  +  space + last_name
print(full_name)

Evelyn Cusi

**String Formating** (str.format)

In [6]:
first_name = 'Evelyn'
last_name = 'Cusi'
language = 'Python'
formated_string = 'I am {} {}. I am learning {}'.format(first_name, last_name, language)
print(formated_string)
a = 4
b = 3

print('{} + {} = {}'.format(a, b, a + b))
print('{} - {} = {}'.format(a, b, a - b))
print('{} * {} = {}'.format(a, b, a * b))
print('{} / {} = {:.2f}'.format(a, b, a / b)) # limits it to two digits after decimal
print('{} % {} = {}'.format(a, b, a % b))
print('{} // {} = {}'.format(a, b, a // b))
print('{} ** {} = {}'.format(a, b, a ** b))

I am Evelyn Cusi. I am learning Python
4 + 3 = 7
4 - 3 = 1
4 * 3 = 12
4 / 3 = 1.33
4 % 3 = 1
4 // 3 = 1
4 ** 3 = 64

**String as Sequences of Characters**: Python strings are sequences of characters, and share their basic methods of access with other Python ordered sequences of objects.

- *Unpacking Characters*

In [7]:
language = 'Python'
a,b,c,d,e,f = language # unpacking sequence characters into variables
print(a) # P
print(b) # y
print(c) # t
print(d) # h
print(e) # o
print(f) # n

P
y
t
h
o
n

- *Accesing Characters in Strings by Index*: In programming counting starts from zero. Therefore the first letter of a string is at zero index and the last letter of a string is the length of a string minus one.

In [8]:
language = 'Python'
first_letter = language[0]
print(first_letter) # P
second_letter = language[1]
print(second_letter) # y
last_index = len(language) - 1
last_letter = language[last_index]
print(last_letter) # n

P
y
n

- *Slicing Python Strings*: In python we can slice strings into substrings.

In [9]:
language = 'Python'
first_three = language[0:3] # starts at zero index and up to 3 but not include 3
last_three = language[3:6]
print(last_three) # hon
# Another way
last_three = language[-3:]
print(last_three)   # hon
last_three = language[3:]
print(last_three)   # hon

hon
hon
hon

- *Reversing a String*

In [10]:
greeting = 'Hello, World!'
print(greeting[::-1]) # !dlroW ,olleH

!dlroW ,olleH

#### String Methods
There are many string methods which allow us to format strings. See some of the string methods in the following example:

- **capitalize()**: Converts the first character to capital letter

In [13]:
text = 'python is cool'
text.capitalize()

'Python is cool'

- **upper()**: Converts all characters to uppercase

In [14]:
text.upper()

'PYTHON IS COOL'

- **title()**: Converts all first character of words to Uppercase

In [4]:
text.title()

'Python Is Cool'

- **find()**: Returns the character index where the substring starts

In [20]:
text.find('python')

0

- **endswith()**: Chacks if a string ends with a specified ending

In [21]:
print(text.endswith('ool'))   # True
print(text.endswith('tion')) # False

True
False

- **isalnum()**: Checks alphanumeric character

In [23]:
text = 'PythonIsCool'
print(text.isalnum()) # True

text = 'python is cool'
print(text.isalnum()) # False, space is not an alphanumeric character

True
False

- **isalpha()**: Checks if all string elements are alphabet characters (a-z and A-Z)

In [24]:
text = 'python is cool'
print(text.isalpha()) # False, space is once again excluded
text = 'PythonIsCool'
print(text.isalpha()) # True
num = '123'
print(num.isalpha())      # False

False
True
False

- **isdecimal()**: Checks if all characters in a string are decimal (0-9)

In [26]:
text = 'python is cool'
print(text.isdecimal())  # False
text = '123'
print(text.isdecimal())  # True
text = '12 3'
print(text.isdecimal())  # False, no space allowed

False
True
False

- **isdigit()**: Checks if all characters in a string are numbers (0-9 and some other unicode characters for numbers)

In [27]:
text = 'Thirty'
print(text.isdigit()) # False
text = '30'
print(text.isdigit())   # True

False
True

- **isnumeric()**: Checks if all characters in a string are numbers or number related (just like isdigit(), just accepts more symbols, like ½)

In [28]:
num = '10'
print(num.isnumeric()) # True
num = '\u00BD' # ½
print(num.isnumeric()) # True
num = '10.5'
print(num.isnumeric()) # False

True
True
False

- **join()**: Returns a concatenated string

In [29]:
web_tech = ['HTML', 'CSS', 'JavaScript', 'React']
result = '# '.join(web_tech)
print(result) # 'HTML# CSS# JavaScript# React'

HTML# CSS# JavaScript# React

- **strip()**: Removes all given characters starting from the beggining and end of the string

In [33]:
text = 'python is cool'
print(text.strip('py')) # 'thon is cool'

thon is cool

- **replace()**: Replaces substring with a given string

In [34]:
text = 'python is cool'
print(text.replace('cool', 'easy')) # 'python is easy'

python is easy

- **split()**: Splits the string, using given string as a separator

In [35]:
text = 'python is cool'
print(text.split()) # ['python', 'is', 'cool']
text = 'python, is, cool'
print(text.split(', ')) # ['python', 'is', 'cool']

['python', 'is', 'cool']
['python', 'is', 'cool']

- **startswith()**: Checks if String Starts with the Specified String

In [36]:
text = 'python is cool'
print(text.startswith('python')) # True

print(text.startswith('cool')) # False

True
False

### Lists

There are four collection data types in python:

- **List**: is a collection which is ordered and changeable(modifiable). Allows duplicate members.
- **Tuple**: is a collection which is ordered and unchangeable or unmodifiable(immutable). Allows duplicate members.
- **Set**: is a collection which is unordered, unindexed and unmodifiable, but you can add new items. No duplicate members.
- **Dictionary**: is a collection which is unordered, changeable(modifiable) and indexed. No duplicate members.

A list is collection of different data types which is ordered and modifiable(mutable). A list can be empty or it may have different data type items or items.

#### List

In python we can create lists in two ways:

- Using list built-in function

In [37]:
lst = list()

- Using square brackets, []

In [38]:
lst = []

Lists with initial values. We use len() to find the length of a list.

In [39]:
fruits = ['banana', 'orange', 'mango', 'lemon']                     # list of fruits

# Print the lists and its length
print('Fruits:', fruits)
print('Number of fruits:', len(fruits))

Fruits: ['banana', 'orange', 'mango', 'lemon']
Number of fruits: 4

Lists can have items of different data types

In [40]:
 lst = ['Asabeneh', 250, True, {'country':'Finland', 'city':'Helsinki'}] # list containing different data types

**Accesing List Items**

- USING POSITIVE INDEXING

We access each item in a list using their index. A list index starts from 0. (See Figure 1)

![](https://drive.google.com/uc?export=view&id=1WQbT0HN7a0MT2MSckvA0cLH3C2wGUAl6)

In [41]:
fruits = ['banana', 'orange', 'mango', 'lemon']
first_fruit = fruits[0] # we are accessing the first item using its index
print(first_fruit)      # banana
second_fruit = fruits[1]
print(second_fruit)     # orange

banana
orange

- USING NEGATIVE INDEXING

Negative indexing means beginning from the end, -1 refers to the last item, -2 refers to the second last item.

![](https://drive.google.com/uc?export=view&id=1ncgzk0Y6fTv90lZcZAFj2oCNUMgIAoIL)

In [42]:
fruits = ['banana', 'orange', 'mango', 'lemon']
first_fruit = fruits[-4]
last_fruit = fruits[-1]
print(first_fruit)      # banana
print(last_fruit)       # lemon

banana
lemon

**Unpacking List Items**

In [44]:
fruits = ['banana', 'orange', 'mango', 'lemon']
first_fruit, second_fruit, *rest_fruits = fruits
print(first_fruit)  # banana
print(second_fruit) # orange
print(rest_fruits)  # ['mango' 'lemon']

banana
orange
['mango', 'lemon']

In [45]:
fruits = ['banana', 'orange', 'mango', 'lemon']
first_fruit, *middle_fruits, last_fruit = fruits
print(first_fruit)  # banana
print(middle_fruits) # ['orange' 'mango']
print(last_fruit)  # lemon

banana
['orange', 'mango']
lemon

**Slicing items from a list**

- POSITIVE INDEXING: We can specify a range of positive indexes by specifying the start, end and step, the return value will be a new list. (default values for start = 0, end = len(lst) - 1 (last item), step = 1)

In [46]:
fruits = ['banana', 'orange', 'mango', 'lemon']
all_fruits = fruits[0:4] # it returns all the fruits
# this will also give the same result as the one above
all_fruits = fruits[0:] # if we don't set where to stop it takes all the rest
orange_and_mango = fruits[1:3] # it does not include the first index
orange_mango_lemon = fruits[1:]
orange_and_lemon = fruits[::2] # here we used a 3rd argument, step. It will take every 2cnd item - ['orange', 'lemon']

- NEGATIVE INDEXING: We can specify a range of negative indexes by specifying the start, end and step, the return value will be a new list.

In [47]:
fruits = ['banana', 'orange', 'mango', 'lemon']
all_fruits = fruits[-4:] # it returns all the fruits
orange_and_mango = fruits[-3:-1] # it does not include the last index
orange_mango_lemon = fruits[-3:] # this will give the same result as the one above
reverse_fruits = fruits[::-1] # a negative step will take the list in reverse order

**Modifying lists**

In [48]:
fruits = ['banana', 'orange', 'mango', 'lemon']
fruits[0] = 'avocado'
print(fruits)       #  ['avocado', 'orange', 'mango', 'lemon']
fruits[1] = 'apple'
print(fruits)       #  ['avocado', 'apple', 'mango', 'lemon']

['avocado', 'orange', 'mango', 'lemon']
['avocado', 'apple', 'mango', 'lemon']

**Checking items in a list**

In [49]:
fruits = ['banana', 'orange', 'mango', 'lemon']
does_exist = 'banana' in fruits
print(does_exist)  # True
does_exist = 'lime' in fruits
print(does_exist)  # False

True
False

**Adding items to a list**

To add item to the end of an existing list we use the method

In [50]:
fruits = ['banana', 'orange', 'mango', 'lemon']
fruits.append('apple')
print(fruits)           # ['banana', 'orange', 'mango', 'lemon', 'apple']

['banana', 'orange', 'mango', 'lemon', 'apple']

**Inserting items into a list**

Use insert() method to insert a single item at a specified index in a list.

In [51]:
fruits = ['banana', 'orange', 'mango', 'lemon']
fruits.insert(2, 'apple') # insert apple between orange and mango
print(fruits)

['banana', 'orange', 'apple', 'mango', 'lemon']

**Removing items from a list**

The remove method removes a specified item from a list

In [52]:
fruits = ['banana', 'orange', 'mango', 'lemon', 'banana']
fruits.remove('banana')
print(fruits)  # ['orange', 'mango', 'lemon', 'banana'] - this method removes the first occurence of the item in the list

['orange', 'mango', 'lemon', 'banana']

**Removing items using pop**

The pop() method removes the specified index, (or the last item if index is not specified):

In [53]:
fruits = ['banana', 'orange', 'mango', 'lemon']
fruits.pop()
print(fruits)       # ['banana', 'orange', 'mango']

fruits.pop(0)
print(fruits)       # ['orange', 'mango']

['banana', 'orange', 'mango']
['orange', 'mango']

**Removing Items Using Del**

The del keyword removes the specified index and it can also be used to delete items within index range. It can also delete the list completely

In [57]:
fruits = ['banana', 'orange', 'mango', 'lemon', 'kiwi', 'lime']

del fruits[2]
print(fruits)       # ['banana', 'orange', 'lemon', 'kiwi', 'lime']

del fruits[1:3]     # this deletes items between given indexes, so it does not delete the item with index 3!
print(fruits)       # ['banana', 'kiwi', 'lime']

del fruits
print(fruits)       # This should give: NameError: name 'fruits' is not defined

['banana', 'orange', 'lemon', 'kiwi', 'lime']
['banana', 'kiwi', 'lime']

NameError: ignored

**Clearing List Items**

The clear() method empties the list:

In [58]:
fruits = ['banana', 'orange', 'mango', 'lemon']
fruits.clear()
print(fruits)       # []

[]

**Copying a List**

It is possible to copy a list by reassigning it to a new variable in the following way: list2 = list1. Now, list2 is a reference of list1, any changes we make in list2 will also modify the original, list2. But there are lots of case in which we do not like to modify the original instead we like to have a different copy. One of way avoid the problem above is using copy().

In [59]:
fruits = ['banana', 'orange', 'mango', 'lemon']
fruits_copy = fruits.copy()
print(fruits_copy)       # ['banana', 'orange', 'mango', 'lemon']

del fruits_copy[2]
print(fruits_copy)       # ['banana', 'orange', 'lemon']
print(fruits)       # ['banana', 'orange', 'mango', 'lemon']

['banana', 'orange', 'mango', 'lemon']
['banana', 'orange', 'lemon']
['banana', 'orange', 'mango', 'lemon']

**Joining Lists**

There are several ways to join, or concatenate, two or more lists in Python.

- Plus Operator (+)

In [62]:
positive_numbers = [1, 2, 3, 4, 5]
zero = [0]
negative_numbers = [-5,-4,-3,-2,-1]
integers = negative_numbers + zero + positive_numbers
print('Integers:', integers)

Integers: [-5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5]

- Joining using extend() method

In [61]:
negative_numbers = [-5,-4,-3,-2,-1]
positive_numbers = [1, 2, 3,4,5]
zero = [0]

negative_numbers.extend(zero)
negative_numbers.extend(positive_numbers)
print('Integers:', negative_numbers)

Integers: [-5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5]

**Counting Items in a List**

The count() method returns the number of times an item appears in a list:

In [64]:
ages = [22, 19, 24, 25, 26, 24, 25, 24]
print(ages.count(24))           # 3

3

**Finding Index of an Item**

The index() method returns the index of an item in the list:

In [65]:
ages = [22, 19, 24, 25, 26, 24, 25, 24]
print(ages.index(24))           # 2, the first occurrence

2

**Reversing a list**

The reverse() method reverses the order of a list.

In [67]:
fruits = ['banana', 'orange', 'mango', 'lemon']
fruits.reverse()
print(fruits)

['lemon', 'mango', 'orange', 'banana']

**Sorting list items**

To sort lists we can use sort() method or sorted() built-in functions. The sort() method reorders the list items in ascending order and modifies the original list.

In [68]:
ages = [22, 19, 24, 25, 26, 24, 25, 24]
ages.sort()
print(ages)
ages.sort(reverse=True)
print(ages)

[19, 22, 24, 24, 24, 25, 25, 26]
[26, 25, 25, 24, 24, 24, 22, 19]

- sorted(): returns the ordered list without modifying the original Example:

In [70]:
ages = [22, 19, 24, 25, 26, 24, 25, 24]
print(sorted(ages))
print(ages)

[19, 22, 24, 24, 24, 25, 25, 26]
[22, 19, 24, 25, 26, 24, 25, 24]

#### Tuples

A tuple is a collection of different data types which is ordered and unchangeable (immutable). Tuples are written with round brackets, (). 

Methods related to tuples:

- tuple(): to create an empty tuple
- count(): to count the number of a specified item in a tuple
- index(): to find the index of a specified item in a tuple
  - operator: to join two or more tuples and to create a new tuple

**Creating a tuple**

- Empty tuple:

In [71]:
# syntax
empty_tuple = ()
# or using the tuple constructor
empty_tuple = tuple()

- Tuple with initial values

In [72]:
fruits = ('banana', 'orange', 'mango', 'lemon')

Tuples share many methods similar to lists, such as: len (), accessing, checking items, join and slicing.

**Changin tuples to lists**

We can change tuples to lists and lists to tuples. Tuple is immutable if we want to modify a tuple we should change it to a list.

In [73]:
fruits = ('banana', 'orange', 'mango', 'lemon')
fruits = list(fruits)
fruits[0] = 'apple'
print(fruits)     # ['apple', 'orange', 'mango', 'lemon']
fruits = tuple(fruits)
print(fruits)     # ('apple', 'orange', 'mango', 'lemon')

['apple', 'orange', 'mango', 'lemon']
('apple', 'orange', 'mango', 'lemon')

#### Sets

Set is a collection of unordered and unindexed distinct elements. In python set is used to store unique items, and it is possible to find the union, intersection, difference, symmetric difference, subset, super set and disjoint set among sets.

**Creating a set**

We use curly brackets, {} to create a set.

- Creating an empty set

In [74]:
# syntax
st = {}
# or
st = set()

- Creating a set with initial items

In [75]:
# syntax
st = {'item1', 'item2', 'item3', 'item4'}

**Adding items to a set**

Once a set is created we cannot change any items but we can add additional ones.

- Add one item using add()

In [76]:
fruits = {'banana', 'orange', 'mango', 'lemon'}
fruits.add('lime')

- Add multiple items using update()

In [77]:
fruits = {'banana', 'orange', 'mango', 'lemon'}
vegetables = ('tomato', 'potato', 'cabbage','onion', 'carrot')
fruits.update(vegetables)

**Removing items from a set**

We can remove an item from a set using remove() method. If the item is not found remove() method will raise errors, so it is good to check if the item exist in the given set. However, discard() method doesn't raise any errors.

In [81]:
# syntax
st = {'item1', 'item2', 'item3', 'item4'}
st.remove('item2')
print(st)

fruits = {'banana', 'orange', 'mango', 'lemon'}
fruits.pop()  # removes the last element from the set
print(fruits)

fruits = {'banana', 'orange', 'mango', 'lemon'}
fruits.discard('apple')
print(fruits)

{'item3', 'item4', 'item1'}
{'banana', 'mango', 'lemon'}
{'orange', 'banana', 'mango', 'lemon'}

**Clearing items in a set**

If we want to clear or empty the set we use clear method.

In [82]:
fruits = {'banana', 'orange', 'mango', 'lemon'}
fruits.clear()
print(fruits) # set()

set()

**Converting List to Set**

We can convert list to set and set to list back. Converting list to set removes duplicates and only unique items will be reserved.

In [84]:
fruits = ['banana', 'orange', 'mango', 'lemon','orange', 'banana']
fruits = set(fruits) # {'mango', 'lemon', 'banana', 'orange'}
print(fruits)

{'orange', 'banana', 'mango', 'lemon'}

**Joining Sets**

We can join two sets using the union() or update() method.

- Union This method returns a new set

In [85]:
fruits = {'banana', 'orange', 'mango', 'lemon'}
vegetables = {'tomato', 'potato', 'cabbage','onion', 'carrot'}
print(fruits.union(vegetables)) # {'lemon', 'carrot', 'tomato', 'banana', 'mango', 'orange', 'cabbage', 'potato', 'onion'}

{'banana', 'lemon', 'mango', 'orange', 'carrot', 'cabbage', 'onion', 'tomato', 'potato'}

- Update This method inserts a set into a given set

In [86]:
fruits = {'banana', 'orange', 'mango', 'lemon'}
vegetables = {'tomato', 'potato', 'cabbage','onion', 'carrot'}
fruits.update(vegetables)
print(fruits) # {'lemon', 'carrot', 'tomato', 'banana', 'mango', 'orange', 'cabbage', 'potato', 'onion'}

{'banana', 'lemon', 'mango', 'orange', 'carrot', 'cabbage', 'onion', 'tomato', 'potato'}

**Finding Intersection Items**

Intersection returns a set of items which are in both the sets.

In [87]:
python = {'p', 'y', 't', 'h', 'o','n'}
dragon = {'d', 'r', 'a', 'g', 'o','n'}
python.intersection(dragon)     # {'o', 'n'}

{'n', 'o'}

**Checking subset and super set**

A set can be a subset or super set of other sets:

- Subset: issubset()
- Super set: issuperset

In [89]:
# syntax
st1 = {'item1', 'item2', 'item3', 'item4'}
st2 = {'item2', 'item3'}
print(st2.issubset(st1)) # True
print(st1.issuperset(st2)) # True

True
True

**Checking the difference between two sets**

It returns the difference between two sets.

In [91]:
# syntax
st1 = {'item1', 'item2', 'item3', 'item4'}
st2 = {'item2', 'item3'}
print(st2.difference(st1)) # set()
print(st1.difference(st2)) # {'item1', 'item4'} => st1\st2

set()
{'item4', 'item1'}

**Finding symmetric difference between two sets**

It returns the the symmetric difference between two sets. It means that it returns a set that contains all items from both sets, except items that are present in both sets, mathematically: (A\B) ∪ (B\A)

In [92]:
# syntax
st1 = {'item1', 'item2', 'item3', 'item4'}
st2 = {'item2', 'item3'}
# it means (A\B)∪(B)
st2.symmetric_difference(st1) # {'item1', 'item4'}

{'item1', 'item4'}

**Joining sets**

If two sets do not have a common item or items we call them disjoint sets. We can check if two sets are joint or disjoint using isdisjoint() method.

In [93]:
# syntax
st1 = {'item1', 'item2', 'item3', 'item4'}
st2 = {'item2', 'item3'}
st2.isdisjoint(st1) # False

False

#### Dictionaries

A dictionary is a collection of unordered, modifiable(mutable) paired (key: value) data type.

**Creating a dictionary**

To create a dictionary we use curly brackets, {}.

In [98]:
# syntax
empty_dict = {}
# Dictionary with data values
person = {
    'first_name':'Evelyn',
    'last_name':'Cusi',
    'age':25,
    'country':'Bolivia',
    'is_marred': False,
    'skills':['Smalltalk', 'Java', 'Django', 'MongoDB', 'Python'],
    'address': {
        'street':'Inti street',
        'zipcode':'0000'
    }
}

The dictionary above shows that a value could be any different data type:string, boolean, list, tuple, set or a dictionary.

**Accessing dictionary items**

We can access Dictionary items by referring to its key name.

In [99]:
print(person['first_name']) # Evelyn
print(person['country'])    # Bolivia
print(person['skills'])     # ['Smalltalk', 'Java', 'Django', 'MongoDB', 'Python']
print(person['skills'][0])  # Smalltalk
print(person['address']['street']) # Inti street
print(person['city'])       # Error

Evelyn
Bolivia
['Smalltalk', 'Java', 'Django', 'MongoDB', 'Python']
Smalltalk
Inti street

KeyError: ignored

Accessing an item by key name raises an error if the key does not exist. To avoid this error first we have to check if a key exist or we can use the get method. The get method returns None, which is a NoneType object data type, if the key does not exist.

In [100]:
print(person.get('first_name')) # Evelyn
print(person.get('country'))    # Bolivia
print(person.get('skills'))     # ['Smalltalk', 'Java', 'Django', 'MongoDB', 'Python']
print(person.get('city'))       # None

Evelyn
Bolivia
['Smalltalk', 'Java', 'Django', 'MongoDB', 'Python']
None

**Adding items to a dictionary**

We can add new key and value pairs to a dictionary

In [101]:
person['job_title'] = 'Developer'
person['skills'].append('Tensorflow')
print(person)

{'first_name': 'Evelyn', 'last_name': 'Cusi', 'age': 25, 'country': 'Bolivia', 'is_marred': False, 'skills': ['Smalltalk', 'Java', 'Django', 'MongoDB', 'Python', 'Tensorflow'], 'address': {'street': 'Inti street', 'zipcode': '0000'}, 'job_title': 'Developer'}

**Modifying items in a dictionary**

We can modify items in a dictionary

In [102]:
person['first_name'] = 'Lin'
person['age'] = 26
print(person)

{'first_name': 'Lin', 'last_name': 'Cusi', 'age': 26, 'country': 'Bolivia', 'is_marred': False, 'skills': ['Smalltalk', 'Java', 'Django', 'MongoDB', 'Python', 'Tensorflow'], 'address': {'street': 'Inti street', 'zipcode': '0000'}, 'job_title': 'Developer'}

**Checking keys in a dictionary**

We use the in operator to check if a key exist in a dictionary

In [103]:
dct = {'key1':'value1', 'key2':'value2', 'key3':'value3', 'key4':'value4'}
print('key2' in dct) # True
print('key5' in dct) # False

True
False

**Removing key and value pairs from a dictionary**

- **pop(key):** removes the item with the specified key name:
- **popitem():** removes the last item
- **del:** removes an item with specified key name

In [104]:
# syntax
dct = {'key1':'value1', 'key2':'value2', 'key3':'value3', 'key4':'value4'}
dct.pop('key1') # removes key1 item
dct = {'key1':'value1', 'key2':'value2', 'key3':'value3', 'key4':'value4'}
dct.popitem() # removes the last item
del dct['key2'] # removes key2 item

**Changing dictionary to a list of items**

The items() method changes dictionary to a list of tuples.

In [105]:
dct = {'key1':'value1', 'key2':'value2', 'key3':'value3', 'key4':'value4'}
print(dct.items()) # dict_items([('key1', 'value1'), ('key2', 'value2'), ('key3', 'value3'), ('key4', 'value4')])

dict_items([('key1', 'value1'), ('key2', 'value2'), ('key3', 'value3'), ('key4', 'value4')])

**Clearing a dictionary**

If we don't want the items in a dictionary we can clear them using clear() method

In [106]:
dct = {'key1':'value1', 'key2':'value2', 'key3':'value3', 'key4':'value4'}
print(dct.clear()) # None

None

**Getting dictionary keys as a list**

The keys() method gives us all the keys of a a dictionary as a list.

In [107]:
dct = {'key1':'value1', 'key2':'value2', 'key3':'value3', 'key4':'value4'}
keys = dct.keys()
print(keys)     # dict_keys(['key1', 'key2', 'key3', 'key4'])

dict_keys(['key1', 'key2', 'key3', 'key4'])

**Getting dictionary values as a list**

The values method gives us all the values of a a dictionary as a list.

In [108]:
dct = {'key1':'value1', 'key2':'value2', 'key3':'value3', 'key4':'value4'}
values = dct.values()
print(values)     # dict_values(['value1', 'value2', 'value3', 'value4'])

dict_values(['value1', 'value2', 'value3', 'value4'])

## Resources

https://github.com/Asabeneh/30-Days-Of-Python/blob/master/04_Day_Strings/04_strings.md

https://indico.cern.ch/event/747653/contributions/3092133/attachments/1716863/2770740/presentation-insights.pdf